{% extends "base.html" %}
{% block content %}
        <h1>Lista de movimientos</h1>
        <table>
            <thead>
               <tr>
                    <th>Fecha <span class="material-symbols-outlined">calendar_month</span></th> 
                    <th>Concepto <span class="material-symbols-outlined">inventory_2</span> </th>
                    <th>Cantidad <span class="material-symbols-outlined">production_quantity_limits</span></th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for movement in data %}
                <tr>
                    <td>{{ movement.date }}</td> 
                    <td>{{ movement.concept }}</td>
                    <td>{{ movement.quantity }}</td>
                    <td>
                        <a href="/update/{{movement.id}}">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                        <a href="/delete/{{movement.id}}">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="/new">Añadir</a>
{% endblock %}